html,body,#container {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container, #container input, textarea {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chat-panel {
    overflow-y: auto;
}

#chat-panel .request, #chat-panel .response{
    margin: 5px;
    padding: 7px;
    border-radius: 7px;
}

#chat-panel .request{
    background-color: #fafafa;
    color: #999;
}

#chat-panel .response{
    background-color: #f5f5f5;
}

#input-panel {
    padding: 0 0 7px 0;
    width: 100%
}

#request-input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
}

#request-input:focus{
    outline: none;
}

hr {
    border: 0;
    height: 2px;
    background: #ccc;
}

.reply-link {
    text-decoration: none;
    padding: 7px;
    margin: 3px;
    display: inline-block;
    border-radius: 7px;
    color: #333;
    background-color: #f0f0f0;
}

.response:last-child .reply-link {
    background-color: #add8e6;
    color: inherit;
    cursor: pointer;
}

.response:last-child .reply-link:hover {
    background-color: #76cce8;
}

img.reply-link {
    height: 1.2em;
    vertical-align: middle;
}

.reply-secret {
    color: darkcyan;
    cursor: pointer;
}

#ver-info {
    display: inline-flex;
    position: absolute;
    left: 0;
    top: 0;
    color: #ff8a65;
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
    margin: 12px 0 0 8px;
}

#sync-ind {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 0;
}

#sync-txt {
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#sync-txt > div {
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
    color: #ff8a65;
    cursor: inherit;
}

#multiline-container {
    position: absolute;
    left:24px;
    right:15px;
    top:40px;
    bottom:10px;
    box-shadow: 0 0 5px #999;
}

#multiline-text {
    width:100%;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: aliceblue;
    border: transparent;
}

#multiline-text:focus {
    outline: none !important;
}